body {
    background-color: #e8fffa;
}

@font-face {
    font-family: "DeadRevolution";
    src: url("https://github.com/HendrikCromboom/markdown-warmup-css/blob/master/raw/src/font/Dead%20Revolution.otf") format("opentype"),
}
.img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
div.me {
    width: 40%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    font-family: DeadRevolution;
}

div.container {
    text-align: center;
    padding: 10px 20px;
}
div.me2 {
    width: 40%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}

div.container2 {
    text-align: left;
    padding: 10px 20px;
}