body {
    background-color: #e8fffa;
}

@font-face {
    font-family: DeadRevolution;
    src: url(Dead%20Revolution.otf);
}
@font-face {
    font-family: Plom;
    src: url(PlomPraeng.ttf);
}

.banner {
    position:absolute;
    left: 0px;
    top: 0px;
    z-index:-100;
    opacity: 0.5;
    position: sticky;
    position: -webkit-sticky;
}
.img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: 5%;
}
div.me {
    width: 40%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
    margin-bottom: 25px;
    font-family: DeadRevolution;
    margin-left: 30%;
    border-radius: 15px 15px 30px;
}

div.container {
    text-align: center;
    padding: 10px 20px;
    font-family: DeadRevolution;
}
div.me2 {
    width: 40%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
    margin-bottom: 25px;
    font-family: Plom;
    margin-left: 30%;
    border-radius: 15px 50px 30px;
}

div.container2 {
    text-align: left;
    padding: 10px 20px;
    font-family: Plom;
}
